# Python
__pycache__/
*.pyc
venv/
.env
.env.*
*.pkl

# FAISS / data
data/
*.index
*.npy

# Flutter / Android / iOS
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.idea/
.vscode/
*.iml
android/.gradle/
android/app/build/
ios/Pods/
ios/Runner.xcworkspace
*.apk
*.aab

# mac/windows
.DS_Store
Thumbs.db
